@model IEnumerable<BookSwap.Web.ViewModels.Books.BookIndexViewModel>

@{
    ViewData["Title"] = "All Books";
}

<h2 class="mt-3">Books</h2>

<a asp-action="Create" class="btn btn-primary mt-3">Add New Book</a>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>

                <td>
                    <a asp-action="Details" asp-route-id="@book.Id"
                       class="btn btn-info btn-sm">
                        Details
                    </a>

                    <a asp-action="Edit" asp-route-id="@book.Id"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a asp-action="Delete" asp-route-id="@book.Id"
                       class="btn btn-danger btn-sm">
                        Delete
                    </a>
                    <form asp-controller="SwapRequest"
                          asp-action="Create"
                          method="post">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <button type="submit" class="btn btn-warning btn-sm">
                            Request Swap
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
